<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.cloud.mapper.ResideMapper">
    <update id="update">
        update reside
        <set>
            <if test="sid !=null">
                did=#{did}
            </if>
            <if test="rid !=null">
                ,rid =#{rid}
            </if>
        </set>
        where sid =#{sid}
    </update>
</mapper>
